{% extends "master.html" %}

{% block title %}
    Mi club de tenis - Página principal
{% endblock %}


{% block content %}
    <div class="nav">
        <h1>Mi club de tenis</h1>
        <ul>
            <li><a href="/help">Ayuda</a></li>
            <li><a href="/members/add">Añadir miembro</a></li>
            <li><a href="/sobre">Acerca de </a></li>
        </ul>
    </div>
    <div class="contenido_detalles">
        <div class="sub_contenido">
        <h1>Mi club de tenis</h1>
        <h2>Bienvenido a nuestro club de tenis</h2>
        <p>Explora nuestras instalaciones y conoce a nuestros miembros.</p>
        
    

    <h3>Miembros</h3>

    <p>Echa un vistazo a todas nuestras<a href="members/">miembros</a></p>
        </div>
        
    </div>
    <footer>
        <p>© 2023 Mi club de tenis. Todos los derechos reservados.</p>
{% endblock %}